:root {
    --verde-suas: #11dd6d;
    --branco-suas: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    width: 100vw;
    background-color: var(--verde-suas);
    color: var(--branco-suas);
}

.header-div-1 {
    display: flex;
    flex-direction: row;
    margin-left: -30px;
}

.header-div-1 h1 {
    font-size: 40px;
}

.header-bar input {
    padding: 10px;
    width: 300px;
    border: 2px;
    border-radius: 30px 0 0 30px;
}

button {
    color: var(--branco-suas);
    background-color: rgb(50, 155, 50);
    padding: 10px;
    border: 2px;
    border-radius: 0 30px 30px 0;
}

button:hover {
    background-color: rgb(31, 99, 31);
    cursor: pointer;
}

a {
    color: var(--branco-suas);
    padding: 10px;
}

#user-profile {
    font-size: 16px;
}

.center-page {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.leftside-bar {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    background-color: rgb(50, 155, 50);
}

.leftside-bar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 26px;
    background-color: rgb(50, 155, 50);
    color: var(--branco-suas);
    font-size: 16px;
    border: 2px;
    cursor: pointer;
}

.leftside-bar i {
    position: absolute;
    margin-left: -120px;
}

.leftside-bar a:hover {
    background-color: var(--branco-suas);
    color: rgb(50, 155, 50);
}

.rightside-bar {
    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
}

img {
    width: 600px;
    margin-left: 200px;
    margin-top: 50px;
}

p {
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
    margin-left: 100px;
    margin-right: 80px;
    border-radius: 40px;
    background-color: var(--verde-suas);
    color: var(--branco-suas);
}