:root {
    --verde-suas: #11dd6d;
    --branco-suas: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

.container-main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.container-login {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: var(--branco-suas);
    color: var(--verde-suas);
}

nav a {
    justify-content: space-evenly;
    position: relative;
    padding: 100% 30px 20px;
    border-radius: 10px;
    top: -130px;
    color: black;
}

nav a:hover {
    color: var(--branco-suas);
    background-color: var(--verde-suas);
    cursor: pointer;
}

.container-merchan {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: var(--verde-suas);
    color: var(--branco-suas);
}

.container-merchan i {
    font-size: 100px;
    margin-left: -500px;
}

.box-logo {
    display: flex;
    flex-direction: row;
    background-color: var(--branco-suas);
    color: var(--verde-suas);
}

.box-logo i{
    font-size: 100px;
    margin-left: -20px;
}

.box-logo h1 {
    font-size: 80px;
}

.box-login {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 30%;
    margin-top: 8px;
    gap: 12px;
}

.box-login a {
    color: var(--verde-suas);
    text-align: center;
}

.box-login h1 {
    font-size: 30px;
}

.box-login p {
    text-align: center;
    color: black;
}

.box-login input {
    padding: 10px;
    border: 1px solid;
    border-color: grey;
    border-radius: 40px;
}

.box-login button {
    color: var(--branco-suas);
    background-color: var(--verde-suas);
    padding: 10px;
    border-radius: 40px;
    border-color: var(--verde-suas);
    cursor: pointer;
}

.box-login button:hover {
    background-color: #16be62;
}

.merchan-title-1 {
    font-size: 80px;
}

.merchan-title-2 {
    color: var(--verde-suas);
    -webkit-text-stroke: 1px var(--branco-suas);
    font-size: 80px;
    position: relative;
    left: -170px;
}
